/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
$web-primary: #FFFFFF;
$web-Secondary: #F3F1EE;
$grey: #464447;
$green: #81B316;
$light-green:#6d84b6;
$light-blue: #8A98B2;
$light: #F3F1EE;
$light-grey: #696969;
$green-gradient: #94be39 ;

/*--------------------------------------------------------------
# text-Color
--------------------------------------------------------------*/
$text-black: #000000;
$text-white: #FFFFFF;


/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/