.contact_page {
    form {
        input[type=email],
        textarea,
        [type=text] {
            position: relative;
            display: inline-block;

            &:focus {
                box-shadow: none;
                border-radius: 0;
                width: 100%;
            }

            &::placeholder {
                font-size: 1rem;
            }
        }
    }

    .contact_sidebar {
        .top {
            height: 40% !important;
            background-color: $grey;
            color: $text-white;

            p {
                font-size: 20px;
            }
        }

        .bottom {
            background-color: $web-Secondary;
            height: 60%;

            ul {
                font-size: 14px;
                line-height: 35px;

                a {
                    text-decoration: none;
                    list-style-type: none;
                    color: $grey;
                }
            }
        }
    }
}

//-------------- End of contact page----------------