.download_section {
    margin-top: 50px;

    .dwn-grd {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;

        .card {
            .card-body {
                p {
                    margin-bottom: 0px;
                }

                a {
                    margin-top: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}