section.about_us{
    .homepage_about h2 {
        margin-top:40px;
        text-transform: uppercase;
        margin-bottom: 25px;
        span{
            border-bottom: 4px solid;
            border-color: #81B316;
            padding:5px 0;
            }
        }
    }
