.Recent_news {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #464447;

    .container {
        padding-top: 4%;

        .section-title {
            color: white;
        }
    }
}