/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
$web-primary: #FFFFFF;
$web-Secondary: #F3F1EE;
$grey: #464447;
$green: #81B316;
$light-blue: #8A98B2;
$light: #F3F1EE;

/*--------------------------------------------------------------
# text-Color
--------------------------------------------------------------*/
$text-black: #000000;
$text-white: #FFFFFF;


/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
